// Global
.fixed-bar{
  position: fixed;
  background: $c_brand;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  z-index: 3;
}

// Headers
.main-header{
  @extend .cf;
  padding: 15px;
  background-color: $c_bg;
  border-bottom: 1px solid $c_border;
  position: relative;
  z-index: 2;
  .logo{
    margin: 5px 0 0 0;
    max-width: 125px;
    float: left;
    img{max-width: 100%;}
  }

  nav{
    float: right;
    font-size: 14px;
    margin: 18px 0 0 0;
    a{
      display: inline-block;
      margin: 0 0 0 20px;
      color: $c_brand;
      text-decoration: none;
      @include easing(350ms);
      &:hover{
        @include easing(350ms);
        color: $c_header;
      }
    }

    a.cta{
      padding: 10px;
      color: $c_brand;
      border: 1px solid $c_brand;
      @include border-radius(5px);
      @include easing(350ms);
      &:hover{
        @include easing(350ms);
        background-color: lighten($c_brand, 45%);
      }
    }
  }
}

// Content
.content{
  .search-highlight{background-color: $c_search;}

  img{max-width: 100%;height: auto;display: block;margin: 0 0 20px 0;}

  blockquote{
    background-color: $c_bg;
    border-left: 2px solid $c_brand;
    p{
      font-style: italic;
    }
  }

  hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $c_border;
  }

  a{
    @include easing(350ms);
    text-decoration: none;
    &:hover{
      @include easing(350ms);
      color: $c_header;
    }
  }

  table{
    border: 1px solid $c_border;
    margin: 0 0 20px 0;
    tr{
      td,
      th{
        text-align: left;
        color: $c_header;
        border: 1px solid $c_border;
        background-color: $c_bg;
        strong{
          font-family: $f_sans;
          font-size: 14px;
          font-weight: 600;
        }
      }

      td{
        background-color: #fff;
        font-size: 12px;
        color: $c_text;
      }
    }
  }
}
