.toc{
  background-color: #eff2f4;
  border: 1px solid #d4e0e8;
  border-radius: 3px;
  margin: 0 0 2rem 0;
  ol{
    padding: 10px 20px;
    li{
      margin: 0;
      padding: 0;
    }
  }

  .is-active-li{
    a{
      font-weight: 400;
      &::before{
        background-color: transparent;
      }
    }
  }
}
